// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import { mergeAdditionalBodyParameters } from "../../../../core/requestBody.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import type * as Streak from "../../../index.js";

export declare namespace OrganizationClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class OrganizationClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<OrganizationClient.Options>;

    constructor(options: OrganizationClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Returns organizations keyed by their organization keys. Missing and inaccessible organizations are omitted.
     *
     * @param {string[]} request
     * @param {OrganizationClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.StreakError}
     * @throws {@link errors.StreakTimeoutError}
     *
     * @example
     *     await client.organization.getOrganizationsInABatch(["string"])
     */
    public getOrganizationsInABatch(
        request: string[],
        requestOptions?: OrganizationClient.RequestOptions,
    ): core.HttpResponsePromise<Record<string, Streak.Organization>> {
        return core.HttpResponsePromise.fromPromise(this.__getOrganizationsInABatch(request, requestOptions));
    }

    private async __getOrganizationsInABatch(
        request: string[],
        requestOptions?: OrganizationClient.RequestOptions,
    ): Promise<core.WithRawResponse<Record<string, Streak.Organization>>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.StreakEnvironment.Default,
                "v2/organizations/batch/get",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(request, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Record<string, Streak.Organization>, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.StreakError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/v2/organizations/batch/get");
    }

    /**
     * Returns an organization accessible to the current user, including custom fields and relationships.
     *
     * @param {Streak.GetV2OrganizationsOrganizationKeyRequest} request
     * @param {OrganizationClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.StreakError}
     * @throws {@link errors.StreakTimeoutError}
     *
     * @example
     *     await client.organization.getAnOrganization({
     *         organizationKey: "organizationKey"
     *     })
     */
    public getAnOrganization(
        request: Streak.GetV2OrganizationsOrganizationKeyRequest,
        requestOptions?: OrganizationClient.RequestOptions,
    ): core.HttpResponsePromise<Streak.Organization> {
        return core.HttpResponsePromise.fromPromise(this.__getAnOrganization(request, requestOptions));
    }

    private async __getAnOrganization(
        request: Streak.GetV2OrganizationsOrganizationKeyRequest,
        requestOptions?: OrganizationClient.RequestOptions,
    ): Promise<core.WithRawResponse<Streak.Organization>> {
        const { organizationKey } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.StreakEnvironment.Default,
                `v2/organizations/${core.url.encodePathParam(organizationKey)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Streak.Organization, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.StreakError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/v2/organizations/{organizationKey}",
        );
    }

    /**
     * Updates an organization. Omitted and null properties are unchanged. Supplied lists replace existing lists, subject to field validation.
     *
     * @param {Streak.OrganizationUpdateBody} request
     * @param {OrganizationClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.StreakError}
     * @throws {@link errors.StreakTimeoutError}
     *
     * @example
     *     await client.organization.updateAnOrganization({
     *         organizationKey: "organizationKey"
     *     })
     */
    public updateAnOrganization(
        request: Streak.OrganizationUpdateBody,
        requestOptions?: OrganizationClient.RequestOptions,
    ): core.HttpResponsePromise<Streak.Organization> {
        return core.HttpResponsePromise.fromPromise(this.__updateAnOrganization(request, requestOptions));
    }

    private async __updateAnOrganization(
        request: Streak.OrganizationUpdateBody,
        requestOptions?: OrganizationClient.RequestOptions,
    ): Promise<core.WithRawResponse<Streak.Organization>> {
        const { organizationKey, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.StreakEnvironment.Default,
                `v2/organizations/${core.url.encodePathParam(organizationKey)}`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Streak.Organization, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.StreakError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/v2/organizations/{organizationKey}",
        );
    }

    /**
     * Deletes an organization and schedules removal of its relationships and box links.
     *
     * @param {Streak.DeleteV2OrganizationsOrganizationKeyRequest} request
     * @param {OrganizationClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.StreakError}
     * @throws {@link errors.StreakTimeoutError}
     *
     * @example
     *     await client.organization.deleteAnOrganization({
     *         organizationKey: "organizationKey"
     *     })
     */
    public deleteAnOrganization(
        request: Streak.DeleteV2OrganizationsOrganizationKeyRequest,
        requestOptions?: OrganizationClient.RequestOptions,
    ): core.HttpResponsePromise<Streak.OperationResponse> {
        return core.HttpResponsePromise.fromPromise(this.__deleteAnOrganization(request, requestOptions));
    }

    private async __deleteAnOrganization(
        request: Streak.DeleteV2OrganizationsOrganizationKeyRequest,
        requestOptions?: OrganizationClient.RequestOptions,
    ): Promise<core.WithRawResponse<Streak.OperationResponse>> {
        const { organizationKey } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.StreakEnvironment.Default,
                `v2/organizations/${core.url.encodePathParam(organizationKey)}`,
            ),
            method: "DELETE",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Streak.OperationResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.StreakError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "DELETE",
            "/v2/organizations/{organizationKey}",
        );
    }

    /**
     * Returns organizations in a team, ordered by key. Pass the returned cursor to retrieve the next page.
     *
     * @param {Streak.GetV2TeamsTeamKeyOrganizationsRequest} request
     * @param {OrganizationClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.StreakError}
     * @throws {@link errors.StreakTimeoutError}
     *
     * @example
     *     await client.organization.listOrganizations({
     *         teamKey: "teamKey"
     *     })
     */
    public listOrganizations(
        request: Streak.GetV2TeamsTeamKeyOrganizationsRequest,
        requestOptions?: OrganizationClient.RequestOptions,
    ): core.HttpResponsePromise<Streak.OrganizationPage> {
        return core.HttpResponsePromise.fromPromise(this.__listOrganizations(request, requestOptions));
    }

    private async __listOrganizations(
        request: Streak.GetV2TeamsTeamKeyOrganizationsRequest,
        requestOptions?: OrganizationClient.RequestOptions,
    ): Promise<core.WithRawResponse<Streak.OrganizationPage>> {
        const { teamKey, cursor, limit } = request;
        const _queryParams: Record<string, unknown> = {
            cursor,
            limit,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.StreakEnvironment.Default,
                `v2/teams/${core.url.encodePathParam(teamKey)}/organizations`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Streak.OrganizationPage, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.StreakError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/v2/teams/{teamKey}/organizations",
        );
    }

    /**
     * Creates an organization in a team. Available enrichment data may fill missing details. Provide a name or at least one domain. Set custom fields and relationships in a subsequent update.
     *
     * @param {Streak.OrganizationCreateBody} request
     * @param {OrganizationClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.StreakError}
     * @throws {@link errors.StreakTimeoutError}
     *
     * @example
     *     await client.organization.createAnOrganization({
     *         teamKey: "teamKey"
     *     })
     */
    public createAnOrganization(
        request: Streak.OrganizationCreateBody,
        requestOptions?: OrganizationClient.RequestOptions,
    ): core.HttpResponsePromise<Streak.Organization> {
        return core.HttpResponsePromise.fromPromise(this.__createAnOrganization(request, requestOptions));
    }

    private async __createAnOrganization(
        request: Streak.OrganizationCreateBody,
        requestOptions?: OrganizationClient.RequestOptions,
    ): Promise<core.WithRawResponse<Streak.Organization>> {
        const { teamKey, getIfExisting, ..._body } = request;
        const _queryParams: Record<string, unknown> = {
            getIfExisting,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.StreakEnvironment.Default,
                `v2/teams/${core.url.encodePathParam(teamKey)}/organizations`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Streak.Organization, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.StreakError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/v2/teams/{teamKey}/organizations",
        );
    }
}
