// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptions, normalizeClientOptions } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import { mergeAdditionalBodyParameters } from "../../../../core/requestBody.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import type * as Streak from "../../../index.js";

export declare namespace ContactClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class ContactClient {
    protected readonly _options: NormalizedClientOptions<ContactClient.Options>;

    constructor(options: ContactClient.Options) {
        this._options = normalizeClientOptions(options);
    }

    /**
     * Returns accessible contacts indexed by their requested keys. Missing and inaccessible contacts are omitted.
     *
     * @param {string[]} request
     * @param {ContactClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.StreakError}
     * @throws {@link errors.StreakTimeoutError}
     *
     * @example
     *     await client.contact.getContactsInBulk(["string"])
     */
    public getContactsInBulk(
        request: string[],
        requestOptions?: ContactClient.RequestOptions,
    ): core.HttpResponsePromise<Streak.ContactKeyBatch> {
        return core.HttpResponsePromise.fromPromise(this.__getContactsInBulk(request, requestOptions));
    }

    private async __getContactsInBulk(
        request: string[],
        requestOptions?: ContactClient.RequestOptions,
    ): Promise<core.WithRawResponse<Streak.ContactKeyBatch>> {
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)),
                "v2/contacts/batch/get",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(request, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Streak.ContactKeyBatch, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.StreakError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/v2/contacts/batch/get");
    }

    /**
     * Returns an accessible contact by key.
     *
     * @param {Streak.GetV2ContactsContactKeyRequest} request
     * @param {ContactClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.StreakError}
     * @throws {@link errors.StreakTimeoutError}
     *
     * @example
     *     await client.contact.getContact({
     *         contactKey: "contactKey"
     *     })
     */
    public getContact(
        request: Streak.GetV2ContactsContactKeyRequest,
        requestOptions?: ContactClient.RequestOptions,
    ): core.HttpResponsePromise<Streak.Contact> {
        return core.HttpResponsePromise.fromPromise(this.__getContact(request, requestOptions));
    }

    private async __getContact(
        request: Streak.GetV2ContactsContactKeyRequest,
        requestOptions?: ContactClient.RequestOptions,
    ): Promise<core.WithRawResponse<Streak.Contact>> {
        const { contactKey } = request;
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)),
                `v2/contacts/${core.url.encodePathParam(contactKey)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Streak.Contact, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.StreakError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/v2/contacts/{contactKey}");
    }

    /**
     * Applies supplied changes. Null or omitted fields remain unchanged.
     *
     * @param {Streak.ContactUpdate} request
     * @param {ContactClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.StreakError}
     * @throws {@link errors.StreakTimeoutError}
     *
     * @example
     *     await client.contact.updateContact({
     *         contactKey: "contactKey"
     *     })
     */
    public updateContact(
        request: Streak.ContactUpdate,
        requestOptions?: ContactClient.RequestOptions,
    ): core.HttpResponsePromise<Streak.Contact> {
        return core.HttpResponsePromise.fromPromise(this.__updateContact(request, requestOptions));
    }

    private async __updateContact(
        request: Streak.ContactUpdate,
        requestOptions?: ContactClient.RequestOptions,
    ): Promise<core.WithRawResponse<Streak.Contact>> {
        const { contactKey, ..._body } = request;
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)),
                `v2/contacts/${core.url.encodePathParam(contactKey)}`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Streak.Contact, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.StreakError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/v2/contacts/{contactKey}");
    }

    /**
     * Deletes a contact and schedules cleanup of its links. A missing contact returns 404.
     *
     * @param {Streak.DeleteV2ContactsContactKeyRequest} request
     * @param {ContactClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.StreakError}
     * @throws {@link errors.StreakTimeoutError}
     *
     * @example
     *     await client.contact.deleteContact({
     *         contactKey: "contactKey"
     *     })
     */
    public deleteContact(
        request: Streak.DeleteV2ContactsContactKeyRequest,
        requestOptions?: ContactClient.RequestOptions,
    ): core.HttpResponsePromise<Streak.OperationResponse> {
        return core.HttpResponsePromise.fromPromise(this.__deleteContact(request, requestOptions));
    }

    private async __deleteContact(
        request: Streak.DeleteV2ContactsContactKeyRequest,
        requestOptions?: ContactClient.RequestOptions,
    ): Promise<core.WithRawResponse<Streak.OperationResponse>> {
        const { contactKey } = request;
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)),
                `v2/contacts/${core.url.encodePathParam(contactKey)}`,
            ),
            method: "DELETE",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Streak.OperationResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.StreakError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "DELETE", "/v2/contacts/{contactKey}");
    }

    /**
     * Lists contacts in stable order. Pass the returned cursor to continue; keep the same after filter across pages. A full last page may be followed by an empty page.
     *
     * @param {Streak.GetV2TeamsTeamKeyContactsRequest} request
     * @param {ContactClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.StreakError}
     * @throws {@link errors.StreakTimeoutError}
     *
     * @example
     *     await client.contact.listContacts({
     *         teamKey: "teamKey",
     *         after: 1646870400
     *     })
     */
    public listContacts(
        request: Streak.GetV2TeamsTeamKeyContactsRequest,
        requestOptions?: ContactClient.RequestOptions,
    ): core.HttpResponsePromise<Streak.ContactPage> {
        return core.HttpResponsePromise.fromPromise(this.__listContacts(request, requestOptions));
    }

    private async __listContacts(
        request: Streak.GetV2TeamsTeamKeyContactsRequest,
        requestOptions?: ContactClient.RequestOptions,
    ): Promise<core.WithRawResponse<Streak.ContactPage>> {
        const { teamKey, after, cursor, limit } = request;
        const _queryParams: Record<string, unknown> = {
            after,
            cursor,
            limit,
        };
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)),
                `v2/teams/${core.url.encodePathParam(teamKey)}/contacts`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Streak.ContactPage, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.StreakError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/v2/teams/{teamKey}/contacts");
    }

    /**
     * Creates a contact from its basic details. Links and custom fields require a subsequent update.
     *
     * @param {Streak.ContactCreate} request
     * @param {ContactClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.StreakError}
     * @throws {@link errors.StreakTimeoutError}
     *
     * @example
     *     await client.contact.createContact({
     *         teamKey: "teamKey"
     *     })
     */
    public createContact(
        request: Streak.ContactCreate,
        requestOptions?: ContactClient.RequestOptions,
    ): core.HttpResponsePromise<Streak.Contact> {
        return core.HttpResponsePromise.fromPromise(this.__createContact(request, requestOptions));
    }

    private async __createContact(
        request: Streak.ContactCreate,
        requestOptions?: ContactClient.RequestOptions,
    ): Promise<core.WithRawResponse<Streak.Contact>> {
        const { teamKey, getIfExisting, ..._body } = request;
        const _queryParams: Record<string, unknown> = {
            getIfExisting,
        };
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)),
                `v2/teams/${core.url.encodePathParam(teamKey)}/contacts`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Streak.Contact, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.StreakError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/v2/teams/{teamKey}/contacts");
    }
}
