// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import { toJson } from "../../../../core/json.js";
import { mergeAdditionalBodyParameters } from "../../../../core/requestBody.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import type * as Streak from "../../../index.js";

export declare namespace TasksClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class TasksClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<TasksClient.Options>;

    constructor(options: TasksClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Lists tasks on a box, ordered by creation date.
     *
     * @param {Streak.GetV2BoxesBoxKeyTasksRequest} request
     * @param {TasksClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.StreakError}
     * @throws {@link errors.StreakTimeoutError}
     *
     * @example
     *     await client.tasks.listBoxTasks({
     *         boxKey: "boxKey"
     *     })
     */
    public listBoxTasks(
        request: Streak.GetV2BoxesBoxKeyTasksRequest,
        requestOptions?: TasksClient.RequestOptions,
    ): core.HttpResponsePromise<Streak.TaskListResponse> {
        return core.HttpResponsePromise.fromPromise(this.__listBoxTasks(request, requestOptions));
    }

    private async __listBoxTasks(
        request: Streak.GetV2BoxesBoxKeyTasksRequest,
        requestOptions?: TasksClient.RequestOptions,
    ): Promise<core.WithRawResponse<Streak.TaskListResponse>> {
        const { boxKey, limit, page } = request;
        const _queryParams: Record<string, unknown> = {
            limit,
            page,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.StreakEnvironment.Default,
                `v2/boxes/${core.url.encodePathParam(boxKey)}/tasks`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Streak.TaskListResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.StreakError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/v2/boxes/{boxKey}/tasks");
    }

    /**
     * Creates a task on a box.
     *
     * @param {Streak.TaskCreateBody} request
     * @param {TasksClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.StreakError}
     * @throws {@link errors.StreakTimeoutError}
     *
     * @example
     *     await client.tasks.createTask({
     *         boxKey: "boxKey",
     *         text: "text"
     *     })
     */
    public createTask(
        request: Streak.TaskCreateBody,
        requestOptions?: TasksClient.RequestOptions,
    ): core.HttpResponsePromise<Streak.Task> {
        return core.HttpResponsePromise.fromPromise(this.__createTask(request, requestOptions));
    }

    private async __createTask(
        request: Streak.TaskCreateBody,
        requestOptions?: TasksClient.RequestOptions,
    ): Promise<core.WithRawResponse<Streak.Task>> {
        const { boxKey, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.StreakEnvironment.Default,
                `v2/boxes/${core.url.encodePathParam(boxKey)}/tasks`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Streak.Task, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.StreakError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/v2/boxes/{boxKey}/tasks");
    }

    /**
     * Lists tasks across all pipelines and boxes. By default, returns incomplete tasks assigned to the current user before tomorrow in the user's timezone, which includes today's and overdue tasks. Use userKeys, pipelineKey, includeCompleted, direction, limit, and sortOrder to page through other agenda slices.
     *
     * @param {Streak.GetV2TasksRequest} request
     * @param {TasksClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.StreakError}
     * @throws {@link errors.StreakTimeoutError}
     *
     * @example
     *     await client.tasks.listUpcomingTasks()
     */
    public listUpcomingTasks(
        request: Streak.GetV2TasksRequest = {},
        requestOptions?: TasksClient.RequestOptions,
    ): core.HttpResponsePromise<Streak.TaskListResponse> {
        return core.HttpResponsePromise.fromPromise(this.__listUpcomingTasks(request, requestOptions));
    }

    private async __listUpcomingTasks(
        request: Streak.GetV2TasksRequest = {},
        requestOptions?: TasksClient.RequestOptions,
    ): Promise<core.WithRawResponse<Streak.TaskListResponse>> {
        const { direction, includeCompleted, limit, pipelineKey, sortOrder, userKeys } = request;
        const _queryParams: Record<string, unknown> = {
            direction,
            includeCompleted,
            limit,
            pipelineKey,
            sortOrder,
            userKeys: userKeys !== undefined ? toJson(userKeys) : undefined,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.StreakEnvironment.Default,
                "v2/tasks",
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Streak.TaskListResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.StreakError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/v2/tasks");
    }

    /**
     * Returns a single task by key.
     *
     * @param {Streak.GetV2TasksTaskKeyRequest} request
     * @param {TasksClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.StreakError}
     * @throws {@link errors.StreakTimeoutError}
     *
     * @example
     *     await client.tasks.getTask({
     *         taskKey: "taskKey"
     *     })
     */
    public getTask(
        request: Streak.GetV2TasksTaskKeyRequest,
        requestOptions?: TasksClient.RequestOptions,
    ): core.HttpResponsePromise<Streak.Task> {
        return core.HttpResponsePromise.fromPromise(this.__getTask(request, requestOptions));
    }

    private async __getTask(
        request: Streak.GetV2TasksTaskKeyRequest,
        requestOptions?: TasksClient.RequestOptions,
    ): Promise<core.WithRawResponse<Streak.Task>> {
        const { taskKey } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.StreakEnvironment.Default,
                `v2/tasks/${core.url.encodePathParam(taskKey)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Streak.Task, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.StreakError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/v2/tasks/{taskKey}");
    }

    /**
     * Updates a task by key. Omitted body fields are left unchanged.
     *
     * @param {Streak.TaskUpdateBody} request
     * @param {TasksClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.StreakError}
     * @throws {@link errors.StreakTimeoutError}
     *
     * @example
     *     await client.tasks.updateTask({
     *         taskKey: "taskKey"
     *     })
     */
    public updateTask(
        request: Streak.TaskUpdateBody,
        requestOptions?: TasksClient.RequestOptions,
    ): core.HttpResponsePromise<Streak.Task> {
        return core.HttpResponsePromise.fromPromise(this.__updateTask(request, requestOptions));
    }

    private async __updateTask(
        request: Streak.TaskUpdateBody,
        requestOptions?: TasksClient.RequestOptions,
    ): Promise<core.WithRawResponse<Streak.Task>> {
        const { taskKey, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.StreakEnvironment.Default,
                `v2/tasks/${core.url.encodePathParam(taskKey)}`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Streak.Task, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.StreakError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/v2/tasks/{taskKey}");
    }

    /**
     * Deletes a task by key.
     *
     * @param {Streak.DeleteV2TasksTaskKeyRequest} request
     * @param {TasksClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.StreakError}
     * @throws {@link errors.StreakTimeoutError}
     *
     * @example
     *     await client.tasks.deleteTask({
     *         taskKey: "taskKey"
     *     })
     */
    public deleteTask(
        request: Streak.DeleteV2TasksTaskKeyRequest,
        requestOptions?: TasksClient.RequestOptions,
    ): core.HttpResponsePromise<Streak.OperationResponse> {
        return core.HttpResponsePromise.fromPromise(this.__deleteTask(request, requestOptions));
    }

    private async __deleteTask(
        request: Streak.DeleteV2TasksTaskKeyRequest,
        requestOptions?: TasksClient.RequestOptions,
    ): Promise<core.WithRawResponse<Streak.OperationResponse>> {
        const { taskKey } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.StreakEnvironment.Default,
                `v2/tasks/${core.url.encodePathParam(taskKey)}`,
            ),
            method: "DELETE",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Streak.OperationResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.StreakError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "DELETE", "/v2/tasks/{taskKey}");
    }
}
