// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import { mergeAdditionalBodyParameters } from "../../../../core/requestBody.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import type * as Streak from "../../../index.js";

export declare namespace CommentsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class CommentsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<CommentsClient.Options>;

    constructor(options: CommentsClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Lists comments on a box
     *
     * @param {Streak.GetV2BoxesBoxKeyCommentsRequest} request
     * @param {CommentsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.StreakError}
     * @throws {@link errors.StreakTimeoutError}
     *
     * @example
     *     await client.comments.listComments({
     *         boxKey: "boxKey"
     *     })
     */
    public listComments(
        request: Streak.GetV2BoxesBoxKeyCommentsRequest,
        requestOptions?: CommentsClient.RequestOptions,
    ): core.HttpResponsePromise<Streak.CommentListResponse> {
        return core.HttpResponsePromise.fromPromise(this.__listComments(request, requestOptions));
    }

    private async __listComments(
        request: Streak.GetV2BoxesBoxKeyCommentsRequest,
        requestOptions?: CommentsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Streak.CommentListResponse>> {
        const { boxKey } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.StreakEnvironment.Default,
                `v2/boxes/${core.url.encodePathParam(boxKey)}/comments`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Streak.CommentListResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.StreakError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/v2/boxes/{boxKey}/comments");
    }

    /**
     * Creates a comment on a box
     *
     * @param {Streak.CommentCreateBody} request
     * @param {CommentsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.StreakError}
     * @throws {@link errors.StreakTimeoutError}
     *
     * @example
     *     await client.comments.createComment({
     *         boxKey: "boxKey",
     *         message: "message"
     *     })
     */
    public createComment(
        request: Streak.CommentCreateBody,
        requestOptions?: CommentsClient.RequestOptions,
    ): core.HttpResponsePromise<Streak.Comment> {
        return core.HttpResponsePromise.fromPromise(this.__createComment(request, requestOptions));
    }

    private async __createComment(
        request: Streak.CommentCreateBody,
        requestOptions?: CommentsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Streak.Comment>> {
        const { boxKey, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.StreakEnvironment.Default,
                `v2/boxes/${core.url.encodePathParam(boxKey)}/comments`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Streak.Comment, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.StreakError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/v2/boxes/{boxKey}/comments");
    }

    /**
     * Returns a comment by key
     *
     * @param {Streak.GetV2CommentsCommentKeyRequest} request
     * @param {CommentsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.StreakError}
     * @throws {@link errors.StreakTimeoutError}
     *
     * @example
     *     await client.comments.getComment({
     *         commentKey: "commentKey"
     *     })
     */
    public getComment(
        request: Streak.GetV2CommentsCommentKeyRequest,
        requestOptions?: CommentsClient.RequestOptions,
    ): core.HttpResponsePromise<Streak.Comment> {
        return core.HttpResponsePromise.fromPromise(this.__getComment(request, requestOptions));
    }

    private async __getComment(
        request: Streak.GetV2CommentsCommentKeyRequest,
        requestOptions?: CommentsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Streak.Comment>> {
        const { commentKey } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.StreakEnvironment.Default,
                `v2/comments/${core.url.encodePathParam(commentKey)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Streak.Comment, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.StreakError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/v2/comments/{commentKey}");
    }

    /**
     * Updates a comment by key
     *
     * @param {Streak.CommentUpdateBody} request
     * @param {CommentsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.StreakError}
     * @throws {@link errors.StreakTimeoutError}
     *
     * @example
     *     await client.comments.updateComment({
     *         commentKey: "commentKey"
     *     })
     */
    public updateComment(
        request: Streak.CommentUpdateBody,
        requestOptions?: CommentsClient.RequestOptions,
    ): core.HttpResponsePromise<Streak.Comment> {
        return core.HttpResponsePromise.fromPromise(this.__updateComment(request, requestOptions));
    }

    private async __updateComment(
        request: Streak.CommentUpdateBody,
        requestOptions?: CommentsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Streak.Comment>> {
        const { commentKey, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.StreakEnvironment.Default,
                `v2/comments/${core.url.encodePathParam(commentKey)}`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Streak.Comment, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.StreakError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/v2/comments/{commentKey}");
    }

    /**
     * Deletes a comment by key
     *
     * @param {Streak.DeleteV2CommentsCommentKeyRequest} request
     * @param {CommentsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.StreakError}
     * @throws {@link errors.StreakTimeoutError}
     *
     * @example
     *     await client.comments.deleteComment({
     *         commentKey: "commentKey"
     *     })
     */
    public deleteComment(
        request: Streak.DeleteV2CommentsCommentKeyRequest,
        requestOptions?: CommentsClient.RequestOptions,
    ): core.HttpResponsePromise<Streak.OperationResponse> {
        return core.HttpResponsePromise.fromPromise(this.__deleteComment(request, requestOptions));
    }

    private async __deleteComment(
        request: Streak.DeleteV2CommentsCommentKeyRequest,
        requestOptions?: CommentsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Streak.OperationResponse>> {
        const { commentKey } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.StreakEnvironment.Default,
                `v2/comments/${core.url.encodePathParam(commentKey)}`,
            ),
            method: "DELETE",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Streak.OperationResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.StreakError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "DELETE", "/v2/comments/{commentKey}");
    }

    /**
     * Adds an emoji reaction to a comment
     *
     * @param {Streak.PostV2CommentsCommentKeyReactRequest} request
     * @param {CommentsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.StreakError}
     * @throws {@link errors.StreakTimeoutError}
     *
     * @example
     *     await client.comments.reactToComment({
     *         commentKey: "commentKey",
     *         body: {
     *             emoji: "emoji"
     *         }
     *     })
     */
    public reactToComment(
        request: Streak.PostV2CommentsCommentKeyReactRequest,
        requestOptions?: CommentsClient.RequestOptions,
    ): core.HttpResponsePromise<Streak.Comment> {
        return core.HttpResponsePromise.fromPromise(this.__reactToComment(request, requestOptions));
    }

    private async __reactToComment(
        request: Streak.PostV2CommentsCommentKeyReactRequest,
        requestOptions?: CommentsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Streak.Comment>> {
        const { commentKey, body: _body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.StreakEnvironment.Default,
                `v2/comments/${core.url.encodePathParam(commentKey)}/react`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Streak.Comment, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.StreakError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/v2/comments/{commentKey}/react",
        );
    }

    /**
     * Removes an emoji reaction from a comment
     *
     * @param {Streak.PostV2CommentsCommentKeyUnreactRequest} request
     * @param {CommentsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.StreakError}
     * @throws {@link errors.StreakTimeoutError}
     *
     * @example
     *     await client.comments.removeCommentReaction({
     *         commentKey: "commentKey",
     *         body: {
     *             emoji: "emoji"
     *         }
     *     })
     */
    public removeCommentReaction(
        request: Streak.PostV2CommentsCommentKeyUnreactRequest,
        requestOptions?: CommentsClient.RequestOptions,
    ): core.HttpResponsePromise<Streak.Comment> {
        return core.HttpResponsePromise.fromPromise(this.__removeCommentReaction(request, requestOptions));
    }

    private async __removeCommentReaction(
        request: Streak.PostV2CommentsCommentKeyUnreactRequest,
        requestOptions?: CommentsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Streak.Comment>> {
        const { commentKey, body: _body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.StreakEnvironment.Default,
                `v2/comments/${core.url.encodePathParam(commentKey)}/unreact`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Streak.Comment, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.StreakError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/v2/comments/{commentKey}/unreact",
        );
    }
}
