// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import { mergeAdditionalBodyParameters } from "../../../../core/requestBody.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import type * as Streak from "../../../index.js";

export declare namespace PipelineClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class PipelineClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<PipelineClient.Options>;

    constructor(options: PipelineClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Returns the fields in a pipeline in their stored order.
     *
     * @param {Streak.GetV1PipelinesPipelineKeyFieldsRequest} request
     * @param {PipelineClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.StreakError}
     * @throws {@link errors.StreakTimeoutError}
     *
     * @example
     *     await client.pipeline.listPipelineFields({
     *         pipelineKey: "pipelineKey"
     *     })
     */
    public listPipelineFields(
        request: Streak.GetV1PipelinesPipelineKeyFieldsRequest,
        requestOptions?: PipelineClient.RequestOptions,
    ): core.HttpResponsePromise<Streak.PipelineField[]> {
        return core.HttpResponsePromise.fromPromise(this.__listPipelineFields(request, requestOptions));
    }

    private async __listPipelineFields(
        request: Streak.GetV1PipelinesPipelineKeyFieldsRequest,
        requestOptions?: PipelineClient.RequestOptions,
    ): Promise<core.WithRawResponse<Streak.PipelineField[]>> {
        const { pipelineKey } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.StreakEnvironment.Default,
                `v1/pipelines/${core.url.encodePathParam(pipelineKey)}/fields`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Streak.PipelineField[], rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.StreakError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/v1/pipelines/{pipelineKey}/fields",
        );
    }

    /**
     * Returns a field by its key within a pipeline.
     *
     * @param {Streak.GetV1PipelinesPipelineKeyFieldsFieldKeyRequest} request
     * @param {PipelineClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.StreakError}
     * @throws {@link errors.StreakTimeoutError}
     *
     * @example
     *     await client.pipeline.getPipelineField({
     *         pipelineKey: "pipelineKey",
     *         fieldKey: "fieldKey"
     *     })
     */
    public getPipelineField(
        request: Streak.GetV1PipelinesPipelineKeyFieldsFieldKeyRequest,
        requestOptions?: PipelineClient.RequestOptions,
    ): core.HttpResponsePromise<Streak.PipelineField> {
        return core.HttpResponsePromise.fromPromise(this.__getPipelineField(request, requestOptions));
    }

    private async __getPipelineField(
        request: Streak.GetV1PipelinesPipelineKeyFieldsFieldKeyRequest,
        requestOptions?: PipelineClient.RequestOptions,
    ): Promise<core.WithRawResponse<Streak.PipelineField>> {
        const { pipelineKey, fieldKey } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.StreakEnvironment.Default,
                `v1/pipelines/${core.url.encodePathParam(pipelineKey)}/fields/${core.url.encodePathParam(fieldKey)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Streak.PipelineField, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.StreakError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/v1/pipelines/{pipelineKey}/fields/{fieldKey}",
        );
    }

    /**
     * Updates a field's name, default value, options, or AI settings.
     *
     * @param {Streak.PipelineFieldUpdate} request
     * @param {PipelineClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.StreakError}
     * @throws {@link errors.StreakTimeoutError}
     *
     * @example
     *     await client.pipeline.updatePipelineField({
     *         pipelineKey: "pipelineKey",
     *         fieldKey: "fieldKey"
     *     })
     */
    public updatePipelineField(
        request: Streak.PipelineFieldUpdate,
        requestOptions?: PipelineClient.RequestOptions,
    ): core.HttpResponsePromise<Streak.PipelineField> {
        return core.HttpResponsePromise.fromPromise(this.__updatePipelineField(request, requestOptions));
    }

    private async __updatePipelineField(
        request: Streak.PipelineFieldUpdate,
        requestOptions?: PipelineClient.RequestOptions,
    ): Promise<core.WithRawResponse<Streak.PipelineField>> {
        const { pipelineKey, fieldKey, addOnly, ..._body } = request;
        const _queryParams: Record<string, unknown> = {
            addOnly,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.StreakEnvironment.Default,
                `v1/pipelines/${core.url.encodePathParam(pipelineKey)}/fields/${core.url.encodePathParam(fieldKey)}`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Streak.PipelineField, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.StreakError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/v1/pipelines/{pipelineKey}/fields/{fieldKey}",
        );
    }

    /**
     * Deletes a custom field and clears the value from all the pipeline's boxes.
     *
     * @param {Streak.DeleteV1PipelinesPipelineKeyFieldsFieldKeyRequest} request
     * @param {PipelineClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.StreakError}
     * @throws {@link errors.StreakTimeoutError}
     *
     * @example
     *     await client.pipeline.deletePipelineField({
     *         pipelineKey: "pipelineKey",
     *         fieldKey: "fieldKey"
     *     })
     */
    public deletePipelineField(
        request: Streak.DeleteV1PipelinesPipelineKeyFieldsFieldKeyRequest,
        requestOptions?: PipelineClient.RequestOptions,
    ): core.HttpResponsePromise<Streak.OperationResponse> {
        return core.HttpResponsePromise.fromPromise(this.__deletePipelineField(request, requestOptions));
    }

    private async __deletePipelineField(
        request: Streak.DeleteV1PipelinesPipelineKeyFieldsFieldKeyRequest,
        requestOptions?: PipelineClient.RequestOptions,
    ): Promise<core.WithRawResponse<Streak.OperationResponse>> {
        const { pipelineKey, fieldKey } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.StreakEnvironment.Default,
                `v1/pipelines/${core.url.encodePathParam(pipelineKey)}/fields/${core.url.encodePathParam(fieldKey)}`,
            ),
            method: "DELETE",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Streak.OperationResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.StreakError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "DELETE",
            "/v1/pipelines/{pipelineKey}/fields/{fieldKey}",
        );
    }

    /**
     * Lists pipelines accessible to the current user.
     *
     * @param {Streak.GetV2PipelinesRequest} request
     * @param {PipelineClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.StreakError}
     * @throws {@link errors.StreakTimeoutError}
     *
     * @example
     *     await client.pipeline.listPipelines()
     */
    public listPipelines(
        request: Streak.GetV2PipelinesRequest = {},
        requestOptions?: PipelineClient.RequestOptions,
    ): core.HttpResponsePromise<Streak.PipelineListResponse> {
        return core.HttpResponsePromise.fromPromise(this.__listPipelines(request, requestOptions));
    }

    private async __listPipelines(
        request: Streak.GetV2PipelinesRequest = {},
        requestOptions?: PipelineClient.RequestOptions,
    ): Promise<core.WithRawResponse<Streak.PipelineListResponse>> {
        const { sortBy, limit, page } = request;
        const _queryParams: Record<string, unknown> = {
            sortBy,
            limit,
            page,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.StreakEnvironment.Default,
                "v2/pipelines",
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Streak.PipelineListResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.StreakError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/v2/pipelines");
    }

    /**
     * Creates a basic pipeline.
     *
     * @param {Streak.PipelineCreate} request
     * @param {PipelineClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.StreakError}
     * @throws {@link errors.StreakTimeoutError}
     *
     * @example
     *     await client.pipeline.createPipeline({
     *         name: "name",
     *         teamKey: "teamKey",
     *         stages: ["stages"]
     *     })
     */
    public createPipeline(
        request: Streak.PipelineCreate,
        requestOptions?: PipelineClient.RequestOptions,
    ): core.HttpResponsePromise<void> {
        return core.HttpResponsePromise.fromPromise(this.__createPipeline(request, requestOptions));
    }

    private async __createPipeline(
        request: Streak.PipelineCreate,
        requestOptions?: PipelineClient.RequestOptions,
    ): Promise<core.WithRawResponse<void>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.StreakEnvironment.Default,
                "v2/pipelines",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(request, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: undefined, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.StreakError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/v2/pipelines");
    }

    /**
     * Returns a pipeline by key.
     *
     * @param {Streak.GetV2PipelinesPipelineKeyRequest} request
     * @param {PipelineClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.StreakError}
     * @throws {@link errors.StreakTimeoutError}
     *
     * @example
     *     await client.pipeline.getPipeline({
     *         pipelineKey: "pipelineKey"
     *     })
     */
    public getPipeline(
        request: Streak.GetV2PipelinesPipelineKeyRequest,
        requestOptions?: PipelineClient.RequestOptions,
    ): core.HttpResponsePromise<Streak.Pipeline> {
        return core.HttpResponsePromise.fromPromise(this.__getPipeline(request, requestOptions));
    }

    private async __getPipeline(
        request: Streak.GetV2PipelinesPipelineKeyRequest,
        requestOptions?: PipelineClient.RequestOptions,
    ): Promise<core.WithRawResponse<Streak.Pipeline>> {
        const { pipelineKey } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.StreakEnvironment.Default,
                `v2/pipelines/${core.url.encodePathParam(pipelineKey)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Streak.Pipeline, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.StreakError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/v2/pipelines/{pipelineKey}");
    }

    /**
     * Updates the supplied Pipeline fields. Omitted fields remain unchanged.
     *
     * @param {Streak.PipelineUpdate} request
     * @param {PipelineClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.StreakError}
     * @throws {@link errors.StreakTimeoutError}
     *
     * @example
     *     await client.pipeline.updatePipeline({
     *         pipelineKey: "pipelineKey"
     *     })
     */
    public updatePipeline(
        request: Streak.PipelineUpdate,
        requestOptions?: PipelineClient.RequestOptions,
    ): core.HttpResponsePromise<Streak.Pipeline> {
        return core.HttpResponsePromise.fromPromise(this.__updatePipeline(request, requestOptions));
    }

    private async __updatePipeline(
        request: Streak.PipelineUpdate,
        requestOptions?: PipelineClient.RequestOptions,
    ): Promise<core.WithRawResponse<Streak.Pipeline>> {
        const { pipelineKey, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.StreakEnvironment.Default,
                `v2/pipelines/${core.url.encodePathParam(pipelineKey)}`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Streak.Pipeline, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.StreakError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/v2/pipelines/{pipelineKey}");
    }

    /**
     * Deletes an empty pipeline.
     *
     * @param {Streak.DeleteV2PipelinesPipelineKeyRequest} request
     * @param {PipelineClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.StreakError}
     * @throws {@link errors.StreakTimeoutError}
     *
     * @example
     *     await client.pipeline.deletePipeline({
     *         pipelineKey: "pipelineKey"
     *     })
     */
    public deletePipeline(
        request: Streak.DeleteV2PipelinesPipelineKeyRequest,
        requestOptions?: PipelineClient.RequestOptions,
    ): core.HttpResponsePromise<Streak.OperationResponse> {
        return core.HttpResponsePromise.fromPromise(this.__deletePipeline(request, requestOptions));
    }

    private async __deletePipeline(
        request: Streak.DeleteV2PipelinesPipelineKeyRequest,
        requestOptions?: PipelineClient.RequestOptions,
    ): Promise<core.WithRawResponse<Streak.OperationResponse>> {
        const { pipelineKey } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.StreakEnvironment.Default,
                `v2/pipelines/${core.url.encodePathParam(pipelineKey)}`,
            ),
            method: "DELETE",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Streak.OperationResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.StreakError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "DELETE",
            "/v2/pipelines/{pipelineKey}",
        );
    }

    /**
     * Creates a custom field in a pipeline.
     *
     * @param {Streak.PostV2PipelinesPipelineKeyFieldsRequest} request
     * @param {PipelineClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.StreakError}
     * @throws {@link errors.StreakTimeoutError}
     *
     * @example
     *     await client.pipeline.createPipelineField({
     *         pipelineKey: "pipelineKey",
     *         body: {
     *             name: "name",
     *             type: "TEXT_INPUT"
     *         }
     *     })
     */
    public createPipelineField(
        request: Streak.PostV2PipelinesPipelineKeyFieldsRequest,
        requestOptions?: PipelineClient.RequestOptions,
    ): core.HttpResponsePromise<Streak.PipelineField> {
        return core.HttpResponsePromise.fromPromise(this.__createPipelineField(request, requestOptions));
    }

    private async __createPipelineField(
        request: Streak.PostV2PipelinesPipelineKeyFieldsRequest,
        requestOptions?: PipelineClient.RequestOptions,
    ): Promise<core.WithRawResponse<Streak.PipelineField>> {
        const { pipelineKey, body: _body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.StreakEnvironment.Default,
                `v2/pipelines/${core.url.encodePathParam(pipelineKey)}/fields`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Streak.PipelineField, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.StreakError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/v2/pipelines/{pipelineKey}/fields",
        );
    }
}
