// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptions, normalizeClientOptions } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import { toJson } from "../../../../core/json.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import type * as Streak from "../../../index.js";

export declare namespace SearchClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class SearchClient {
    protected readonly _options: NormalizedClientOptions<SearchClient.Options>;

    constructor(options: SearchClient.Options) {
        this._options = normalizeClientOptions(options);
    }

    /**
     * Searches visible boxes, contacts, and organizations by query, or visible boxes by exact name. Exactly one of query or name must be provided.
     *
     * @param {Streak.GetV1SearchRequest} request
     * @param {SearchClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.StreakError}
     * @throws {@link errors.StreakTimeoutError}
     *
     * @example
     *     await client.search.searchBoxesContactsAndOrganizations()
     */
    public searchBoxesContactsAndOrganizations(
        request: Streak.GetV1SearchRequest = {},
        requestOptions?: SearchClient.RequestOptions,
    ): core.HttpResponsePromise<Streak.SearchResponse> {
        return core.HttpResponsePromise.fromPromise(
            this.__searchBoxesContactsAndOrganizations(request, requestOptions),
        );
    }

    private async __searchBoxesContactsAndOrganizations(
        request: Streak.GetV1SearchRequest = {},
        requestOptions?: SearchClient.RequestOptions,
    ): Promise<core.WithRawResponse<Streak.SearchResponse>> {
        const { name, page, pipelineKey, query, stageKey, teamKey } = request;
        const _queryParams: Record<string, unknown> = {
            name,
            page,
            pipelineKey: pipelineKey !== undefined ? toJson(pipelineKey) : undefined,
            query,
            stageKey: stageKey !== undefined ? toJson(stageKey) : undefined,
            teamKey: teamKey !== undefined ? toJson(teamKey) : undefined,
        };
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)),
                "v1/search",
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Streak.SearchResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.StreakError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/v1/search");
    }
}
