// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptions, normalizeClientOptions } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import { mergeAdditionalBodyParameters } from "../../../../core/requestBody.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import type * as Streak from "../../../index.js";

export declare namespace PipelineStageClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class PipelineStageClient {
    protected readonly _options: NormalizedClientOptions<PipelineStageClient.Options>;

    constructor(options: PipelineStageClient.Options) {
        this._options = normalizeClientOptions(options);
    }

    /**
     * Returns the pipeline's stages keyed by stage key.
     *
     * @param {Streak.GetV2PipelinesPipelineKeyStagesRequest} request
     * @param {PipelineStageClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.StreakError}
     * @throws {@link errors.StreakTimeoutError}
     *
     * @example
     *     await client.pipelineStage.listStages({
     *         pipelineKey: "pipelineKey"
     *     })
     */
    public listStages(
        request: Streak.GetV2PipelinesPipelineKeyStagesRequest,
        requestOptions?: PipelineStageClient.RequestOptions,
    ): core.HttpResponsePromise<Record<string, Streak.PipelineStage>> {
        return core.HttpResponsePromise.fromPromise(this.__listStages(request, requestOptions));
    }

    private async __listStages(
        request: Streak.GetV2PipelinesPipelineKeyStagesRequest,
        requestOptions?: PipelineStageClient.RequestOptions,
    ): Promise<core.WithRawResponse<Record<string, Streak.PipelineStage>>> {
        const { pipelineKey } = request;
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)),
                `v2/pipelines/${core.url.encodePathParam(pipelineKey)}/stages`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Record<string, Streak.PipelineStage>, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.StreakError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/v2/pipelines/{pipelineKey}/stages",
        );
    }

    /**
     * Creates a stage at the end of the pipeline's stage order.
     *
     * @param {Streak.PipelineStageCreate} request
     * @param {PipelineStageClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.StreakError}
     * @throws {@link errors.StreakTimeoutError}
     *
     * @example
     *     await client.pipelineStage.createStage({
     *         pipelineKey: "pipelineKey",
     *         name: "name"
     *     })
     */
    public createStage(
        request: Streak.PipelineStageCreate,
        requestOptions?: PipelineStageClient.RequestOptions,
    ): core.HttpResponsePromise<Streak.PipelineStage> {
        return core.HttpResponsePromise.fromPromise(this.__createStage(request, requestOptions));
    }

    private async __createStage(
        request: Streak.PipelineStageCreate,
        requestOptions?: PipelineStageClient.RequestOptions,
    ): Promise<core.WithRawResponse<Streak.PipelineStage>> {
        const { pipelineKey, ..._body } = request;
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)),
                `v2/pipelines/${core.url.encodePathParam(pipelineKey)}/stages`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Streak.PipelineStage, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.StreakError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/v2/pipelines/{pipelineKey}/stages",
        );
    }

    /**
     * Returns a stage in a pipeline.
     *
     * @param {Streak.GetV2PipelinesPipelineKeyStagesStageKeyRequest} request
     * @param {PipelineStageClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.StreakError}
     * @throws {@link errors.StreakTimeoutError}
     *
     * @example
     *     await client.pipelineStage.getStage({
     *         pipelineKey: "pipelineKey",
     *         stageKey: "stageKey"
     *     })
     */
    public getStage(
        request: Streak.GetV2PipelinesPipelineKeyStagesStageKeyRequest,
        requestOptions?: PipelineStageClient.RequestOptions,
    ): core.HttpResponsePromise<Streak.PipelineStage> {
        return core.HttpResponsePromise.fromPromise(this.__getStage(request, requestOptions));
    }

    private async __getStage(
        request: Streak.GetV2PipelinesPipelineKeyStagesStageKeyRequest,
        requestOptions?: PipelineStageClient.RequestOptions,
    ): Promise<core.WithRawResponse<Streak.PipelineStage>> {
        const { pipelineKey, stageKey } = request;
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)),
                `v2/pipelines/${core.url.encodePathParam(pipelineKey)}/stages/${core.url.encodePathParam(stageKey)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Streak.PipelineStage, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.StreakError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/v2/pipelines/{pipelineKey}/stages/{stageKey}",
        );
    }

    /**
     * Updates the supplied stage name or colors.
     *
     * @param {Streak.PipelineStageUpdate} request
     * @param {PipelineStageClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.StreakError}
     * @throws {@link errors.StreakTimeoutError}
     *
     * @example
     *     await client.pipelineStage.updateStage({
     *         pipelineKey: "pipelineKey",
     *         stageKey: "stageKey"
     *     })
     */
    public updateStage(
        request: Streak.PipelineStageUpdate,
        requestOptions?: PipelineStageClient.RequestOptions,
    ): core.HttpResponsePromise<Streak.PipelineStage> {
        return core.HttpResponsePromise.fromPromise(this.__updateStage(request, requestOptions));
    }

    private async __updateStage(
        request: Streak.PipelineStageUpdate,
        requestOptions?: PipelineStageClient.RequestOptions,
    ): Promise<core.WithRawResponse<Streak.PipelineStage>> {
        const { pipelineKey, stageKey, ..._body } = request;
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)),
                `v2/pipelines/${core.url.encodePathParam(pipelineKey)}/stages/${core.url.encodePathParam(stageKey)}`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Streak.PipelineStage, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.StreakError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/v2/pipelines/{pipelineKey}/stages/{stageKey}",
        );
    }

    /**
     * Deletes an empty stage. The final stage in a pipeline cannot be deleted.
     *
     * @param {Streak.DeleteV2PipelinesPipelineKeyStagesStageKeyRequest} request
     * @param {PipelineStageClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.StreakError}
     * @throws {@link errors.StreakTimeoutError}
     *
     * @example
     *     await client.pipelineStage.deleteStage({
     *         pipelineKey: "pipelineKey",
     *         stageKey: "stageKey"
     *     })
     */
    public deleteStage(
        request: Streak.DeleteV2PipelinesPipelineKeyStagesStageKeyRequest,
        requestOptions?: PipelineStageClient.RequestOptions,
    ): core.HttpResponsePromise<Streak.OperationResponse> {
        return core.HttpResponsePromise.fromPromise(this.__deleteStage(request, requestOptions));
    }

    private async __deleteStage(
        request: Streak.DeleteV2PipelinesPipelineKeyStagesStageKeyRequest,
        requestOptions?: PipelineStageClient.RequestOptions,
    ): Promise<core.WithRawResponse<Streak.OperationResponse>> {
        const { pipelineKey, stageKey } = request;
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)),
                `v2/pipelines/${core.url.encodePathParam(pipelineKey)}/stages/${core.url.encodePathParam(stageKey)}`,
            ),
            method: "DELETE",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Streak.OperationResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.StreakError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "DELETE",
            "/v2/pipelines/{pipelineKey}/stages/{stageKey}",
        );
    }
}
