// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptions, normalizeClientOptions } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import { mergeAdditionalBodyParameters } from "../../../../core/requestBody.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import type * as Streak from "../../../index.js";

export declare namespace MeetingsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class MeetingsClient {
    protected readonly _options: NormalizedClientOptions<MeetingsClient.Options>;

    constructor(options: MeetingsClient.Options) {
        this._options = normalizeClientOptions(options);
    }

    /**
     * Lists meetings and call logs on a box
     *
     * @param {Streak.GetV2BoxesBoxKeyMeetingsRequest} request
     * @param {MeetingsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.StreakError}
     * @throws {@link errors.StreakTimeoutError}
     *
     * @example
     *     await client.meetings.listMeetings({
     *         boxKey: "boxKey"
     *     })
     */
    public listMeetings(
        request: Streak.GetV2BoxesBoxKeyMeetingsRequest,
        requestOptions?: MeetingsClient.RequestOptions,
    ): core.HttpResponsePromise<Streak.MeetingListResponse> {
        return core.HttpResponsePromise.fromPromise(this.__listMeetings(request, requestOptions));
    }

    private async __listMeetings(
        request: Streak.GetV2BoxesBoxKeyMeetingsRequest,
        requestOptions?: MeetingsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Streak.MeetingListResponse>> {
        const { boxKey, limit, page } = request;
        const _queryParams: Record<string, unknown> = {
            limit,
            page,
        };
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)),
                `v2/boxes/${core.url.encodePathParam(boxKey)}/meetings`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Streak.MeetingListResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.StreakError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/v2/boxes/{boxKey}/meetings");
    }

    /**
     * Creates a meeting or call log on a box
     *
     * @param {Streak.MeetingCreateBody} request
     * @param {MeetingsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.StreakError}
     * @throws {@link errors.StreakTimeoutError}
     *
     * @example
     *     await client.meetings.createMeeting({
     *         boxKey: "boxKey",
     *         meetingType: "CALL_LOG",
     *         startTimestamp: 1646870400000
     *     })
     */
    public createMeeting(
        request: Streak.MeetingCreateBody,
        requestOptions?: MeetingsClient.RequestOptions,
    ): core.HttpResponsePromise<Streak.Meeting> {
        return core.HttpResponsePromise.fromPromise(this.__createMeeting(request, requestOptions));
    }

    private async __createMeeting(
        request: Streak.MeetingCreateBody,
        requestOptions?: MeetingsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Streak.Meeting>> {
        const { boxKey, ..._body } = request;
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)),
                `v2/boxes/${core.url.encodePathParam(boxKey)}/meetings`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Streak.Meeting, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.StreakError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/v2/boxes/{boxKey}/meetings");
    }

    /**
     * Returns a meeting or call log by key
     *
     * @param {Streak.GetV2MeetingsMeetingKeyRequest} request
     * @param {MeetingsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.StreakError}
     * @throws {@link errors.StreakTimeoutError}
     *
     * @example
     *     await client.meetings.getMeeting({
     *         meetingKey: "meetingKey"
     *     })
     */
    public getMeeting(
        request: Streak.GetV2MeetingsMeetingKeyRequest,
        requestOptions?: MeetingsClient.RequestOptions,
    ): core.HttpResponsePromise<Streak.Meeting> {
        return core.HttpResponsePromise.fromPromise(this.__getMeeting(request, requestOptions));
    }

    private async __getMeeting(
        request: Streak.GetV2MeetingsMeetingKeyRequest,
        requestOptions?: MeetingsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Streak.Meeting>> {
        const { meetingKey } = request;
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)),
                `v2/meetings/${core.url.encodePathParam(meetingKey)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Streak.Meeting, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.StreakError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/v2/meetings/{meetingKey}");
    }

    /**
     * Updates a meeting or call log by key
     *
     * @param {Streak.MeetingUpdateBody} request
     * @param {MeetingsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.StreakError}
     * @throws {@link errors.StreakTimeoutError}
     *
     * @example
     *     await client.meetings.updateMeeting({
     *         meetingKey: "meetingKey"
     *     })
     */
    public updateMeeting(
        request: Streak.MeetingUpdateBody,
        requestOptions?: MeetingsClient.RequestOptions,
    ): core.HttpResponsePromise<Streak.Meeting> {
        return core.HttpResponsePromise.fromPromise(this.__updateMeeting(request, requestOptions));
    }

    private async __updateMeeting(
        request: Streak.MeetingUpdateBody,
        requestOptions?: MeetingsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Streak.Meeting>> {
        const { meetingKey, ..._body } = request;
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)),
                `v2/meetings/${core.url.encodePathParam(meetingKey)}`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Streak.Meeting, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.StreakError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/v2/meetings/{meetingKey}");
    }

    /**
     * Deletes a meeting or call log by key
     *
     * @param {Streak.DeleteV2MeetingsMeetingKeyRequest} request
     * @param {MeetingsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.StreakError}
     * @throws {@link errors.StreakTimeoutError}
     *
     * @example
     *     await client.meetings.deleteMeeting({
     *         meetingKey: "meetingKey"
     *     })
     */
    public deleteMeeting(
        request: Streak.DeleteV2MeetingsMeetingKeyRequest,
        requestOptions?: MeetingsClient.RequestOptions,
    ): core.HttpResponsePromise<Streak.OperationResponse> {
        return core.HttpResponsePromise.fromPromise(this.__deleteMeeting(request, requestOptions));
    }

    private async __deleteMeeting(
        request: Streak.DeleteV2MeetingsMeetingKeyRequest,
        requestOptions?: MeetingsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Streak.OperationResponse>> {
        const { meetingKey } = request;
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)),
                `v2/meetings/${core.url.encodePathParam(meetingKey)}`,
            ),
            method: "DELETE",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Streak.OperationResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.StreakError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "DELETE", "/v2/meetings/{meetingKey}");
    }
}
