// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptions, normalizeClientOptions } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import { mergeAdditionalBodyParameters } from "../../../../core/requestBody.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import type * as Streak from "../../../index.js";

export declare namespace TeamClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class TeamClient {
    protected readonly _options: NormalizedClientOptions<TeamClient.Options>;

    constructor(options: TeamClient.Options) {
        this._options = normalizeClientOptions(options);
    }

    /**
     * Creates a team with an initial member roster.
     *
     * @param {Streak.TeamCreateBody} request
     * @param {TeamClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.StreakError}
     * @throws {@link errors.StreakTimeoutError}
     *
     * @example
     *     await client.team.createTeam({
     *         name: "name",
     *         members: [{}]
     *     })
     */
    public createTeam(
        request: Streak.TeamCreateBody,
        requestOptions?: TeamClient.RequestOptions,
    ): core.HttpResponsePromise<Streak.Team> {
        return core.HttpResponsePromise.fromPromise(this.__createTeam(request, requestOptions));
    }

    private async __createTeam(
        request: Streak.TeamCreateBody,
        requestOptions?: TeamClient.RequestOptions,
    ): Promise<core.WithRawResponse<Streak.Team>> {
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)),
                "v2/teams",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(request, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Streak.Team, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.StreakError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/v2/teams");
    }

    /**
     * Returns a team by key.
     *
     * @param {Streak.GetV2TeamsTeamKeyRequest} request
     * @param {TeamClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.StreakError}
     * @throws {@link errors.StreakTimeoutError}
     *
     * @example
     *     await client.team.getTeam({
     *         teamKey: "teamKey"
     *     })
     */
    public getTeam(
        request: Streak.GetV2TeamsTeamKeyRequest,
        requestOptions?: TeamClient.RequestOptions,
    ): core.HttpResponsePromise<Streak.Team> {
        return core.HttpResponsePromise.fromPromise(this.__getTeam(request, requestOptions));
    }

    private async __getTeam(
        request: Streak.GetV2TeamsTeamKeyRequest,
        requestOptions?: TeamClient.RequestOptions,
    ): Promise<core.WithRawResponse<Streak.Team>> {
        const { teamKey } = request;
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)),
                `v2/teams/${core.url.encodePathParam(teamKey)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Streak.Team, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.StreakError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/v2/teams/{teamKey}");
    }

    /**
     * Updates a team by key. Omitted body fields are left unchanged.
     *
     * @param {Streak.TeamUpdateBody} request
     * @param {TeamClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.StreakError}
     * @throws {@link errors.StreakTimeoutError}
     *
     * @example
     *     await client.team.updateTeam({
     *         teamKey: "teamKey"
     *     })
     */
    public updateTeam(
        request: Streak.TeamUpdateBody,
        requestOptions?: TeamClient.RequestOptions,
    ): core.HttpResponsePromise<Streak.Team> {
        return core.HttpResponsePromise.fromPromise(this.__updateTeam(request, requestOptions));
    }

    private async __updateTeam(
        request: Streak.TeamUpdateBody,
        requestOptions?: TeamClient.RequestOptions,
    ): Promise<core.WithRawResponse<Streak.Team>> {
        const { teamKey, ..._body } = request;
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)),
                `v2/teams/${core.url.encodePathParam(teamKey)}`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Streak.Team, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.StreakError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/v2/teams/{teamKey}");
    }

    /**
     * Lists the teams the current user belongs to, newest first.
     *
     * @param {Streak.GetV2UsersMeTeamsRequest} request
     * @param {TeamClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link errors.StreakError}
     * @throws {@link errors.StreakTimeoutError}
     *
     * @example
     *     await client.team.listCurrentUsersTeams()
     */
    public listCurrentUsersTeams(
        request: Streak.GetV2UsersMeTeamsRequest = {},
        requestOptions?: TeamClient.RequestOptions,
    ): core.HttpResponsePromise<Streak.TeamListResponse> {
        return core.HttpResponsePromise.fromPromise(this.__listCurrentUsersTeams(request, requestOptions));
    }

    private async __listCurrentUsersTeams(
        request: Streak.GetV2UsersMeTeamsRequest = {},
        requestOptions?: TeamClient.RequestOptions,
    ): Promise<core.WithRawResponse<Streak.TeamListResponse>> {
        const { limit, page } = request;
        const _queryParams: Record<string, unknown> = {
            limit,
            page,
        };
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)),
                "v2/users/me/teams",
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Streak.TeamListResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.StreakError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/v2/users/me/teams");
    }
}
